{% extends "base.html" %}
{% block content %}
{% load static %}
{% load blog_tags %}

<section class="single-block-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="single-post">
                    <div class="post-header mb-5 text-center">
                        <div class="meta-cat">
                            {% for category in detail.category.all %}
                                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1" href="{% url 'revolve:post_by_category' category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        <h2 class="post-title mt-2">{{ detail.title }}</h2>
                        <div class="post-meta">
                            <span class="text-uppercase font-sm letter-spacing-1 mr-3">by {{ detail.user }}</span>
                            <span class="text-uppercase font-sm letter-spacing-1">{{ detail.publish|date:"F d, Y" }}</span>
                        </div>
                        <div class="post-featured-image mt-5">
                            {% if detail.images.all %}
                                <img src="{{ detail.images.first.image.url }}" class="img-fluid w-100" alt="featured-image">
                            {% endif %}
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="entry-content">
                            <p>{{ detail.body|markdown|safe }}</p>
                        </div>

                        <div class="post-tags py-4">
                            {% for tag in detail.tags.all %}
                                <a href="#">#{{ tag.name }}</a>
                            {% endfor %}
                        </div>

                        <div class="tags-share-box center-box d-flex text-center justify-content-between border-top border-bottom py-3">
                            <span class="single-comment-o"><i class="fa fa-comment-o"></i>{{ detail.comments.count }} comment</span>
                            <div class="post-share">
                                <span class="count-number-like">2</span>
                                <a class="penci-post-like single-like-button"><i class="ti-heart"></i></a>
                            </div>
                            <div class="list-posts-share">
                                <a target="_blank" rel="nofollow" href="#"><i class="ti-facebook"></i></a>
                                <a target="_blank" rel="nofollow" href="#"><i class="ti-twitter"></i></a>
                                <a target="_blank" rel="nofollow" href="#"><i class="ti-pinterest"></i></a>
                                <a target="_blank" rel="nofollow" href="#"><i class="ti-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-author d-flex my-5">
                    <div class="author-img">
                        <img alt="" src="{% static 'images/author.jpg' %}" class="avatar avatar-100 photo" width="100" height="100">
                    </div>
                    <div class="author-content pl-4">
                        <h4 class="mb-3"><a href="#" title="" rel="author" class="text-capitalize">{{ detail.user }}</a></h4>
                        <p>I'm {{ detail.user }}. I love to share my thoughts and experiences with the world through my blog.</p>
                        <a target="_blank" class="author-social" href="#"><i class="ti-facebook"></i></a>
                        <a target="_blank" class="author-social" href="#"><i class="ti-twitter"></i></a>
                        <a target="_blank" class="author-social" href="#"><i class="ti-instagram"></i></a>
                        <a target="_blank" class="author-social" href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>

                <nav class="post-pagination clearfix border-top border-bottom py-4">
                    <div class="prev-post">
                        <a href="{{ detail.previous.get_absolute_url }}">
                            <span class="text-uppercase font-sm letter-spacing">Previous</span>
                            <h4 class="mt-3">{{ detail.previous.title }}</h4>
                        </a>
                    </div>
                    <div class="next-post">
                        <a href="{{ detail.next.get_absolute_url }}">
                            <span class="text-uppercase font-sm letter-spacing">Next</span>
                            <h4 class="mt-3">{{ detail.next.title }}</h4>
                        </a>
                    </div>
                </nav>

                <div class="related-posts-block mt-5">
                    <h3 class="news-title mb-4 text-center">You May Also Like</h3>
                    <div class="row">
                        {% for post in similar_posts %}
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="post-block-wrapper mb-4 mb-lg-0">
                                    <a href="{{ post.get_absolute_url }}">
                                        {% if post.images.all %}
                                            <img class="img-fluid" src="{{ post.images.first.image.url }}" alt="post-thumbnail"/>
                                        {% endif %}
                                    </a>
                                    <div class="post-content mt-3">
                                        <h5>
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="comment-area my-5">
                    <h3 class="mb-4 text-center">{{ detail.comments.count }} Comments</h3>
                    {% for comment in detail.comments.all %}
                        <div class="comment-area-box media">
                            <img alt="" src="{% static 'images/default-avatar.png' %}" class="img-fluid float-left mr-3 mt-2">
                            <div class="media-body ml-4">
                                <h4 class="mb-0">{{ comment.name }}</h4>
                                <span class="date-comm font-sm text-capitalize text-color"><i class="ti-time mr-2"></i>{{ comment.publish|date:"F d, Y" }}</span>
                                <div class="comment-content mt-3">
                                    <p>{{ comment.body }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <form class="comment-form mb-5 gray-bg p-5" id="comment-form" action="{% url 'revolve:post_comment' detail.id %}" method="post">
                    {% csrf_token %}
                    <h3 class="mb-4 text-center">Leave a comment</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea class="form-control mb-3" name="body" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" id="mail" placeholder="Email:">
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">
                </form>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">
                    <div class="sidebar-wrap mt-5 mt-lg-0">
                        <div class="sidebar-widget about mb-5 text-center p-3">
                            <div class="about-author">
                                <img src="{% static 'images/author.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <h4 class="mb-0 mt-4">{{ detail.user }}</h4>
                            <p>Travel Blogger</p>
                            <p>I'm {{ detail.user }}, last year I decided to quit my job and travel the world. You can follow my journey on this blog!</p>
                            <img src="{% static 'images/liammason.png' %}" alt="" class="img-fluid">
                        </div>

                        <div class="sidebar-widget follow mb-5 text-center">
                            <h4 class="text-center widget-title">Follow Me</h4>
                            <div class="follow-socials">
                                <a href="#"><i class="ti-facebook"></i></a>
                                <a href="#"><i class="ti-twitter"></i></a>
                                <a href="#"><i class="ti-instagram"></i></a>
                                <a href="#"><i class="ti-youtube"></i></a>
                                <a href="#"><i class="ti-pinterest"></i></a>
                            </div>
                        </div>

                        <div class="sidebar-widget mb-5">
                            <h4 class="text-center widget-title">Trending Posts</h4>
                            {% for trending_post in trending_posts %}
                                <div class="sidebar-post-item-big">
                                    <a href="{{ trending_post.get_absolute_url }}"><img src="{{ trending_post.images.first.image.url }}" alt="" class="img-fluid"></a>
                                    <div class="mt-3 media-body">
                                        <span class="text-muted letter-spacing text-uppercase font-sm">{{ trending_post.publish|date:"F d, Y" }}</span>
                                        <h4><a href="{{ trending_post.get_absolute_url }}">{{ trending_post.title }}</a></h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="sidebar-widget category mb-5">
                            <h4 class="text-center widget-title">Categories</h4>
                            <ul class="list-unstyled">
                                {% for category in categories %}
                                    <li class="align-items-center d-flex justify-content-between">
                                        <a href="{% url 'revolve:post_by_category' category.id %}">{{ category.name }}</a>
                                        <span>{{ category.post_count }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="sidebar-widget subscribe mb-5">
                            <h4 class="text-center widget-title">Newsletter</h4>
                            <input type="text" class="form-control" placeholder="Email Address">
                            <a href="#" class="btn btn-primary d-block mt-3">Sign Up</a>
                        </div>

                        <div class="sidebar-widget sidebar-adv mb-5">
                            <a href="#"><img src="{% static 'images/sidebar-banner3.png' %}" alt="" class="img-fluid w-100"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}